/* .App {
  text-align: center;
  height: 100vh;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
} */

.App {
  text-align: center;
  height: 100vh;
  background-color: #121212;
  display: grid;
  font-size: calc(10px + 2vmin);
  color: #ffffff;

  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: minmax(10px, 50px);
  grid-template-areas:
    "sb nav nav nav nav nav nav nav nav nav"
    "sb main main main main main main main main main"
    "sb main main main main main main main main main"
    "sb main main main main main main main main main"
    "sb main main main main main main main main main"
    "sb main main main main main main main main main"
    "sb main main main main main main main main main"
    "sb main main main main main main main main main"
    "sb main main main main main main main main main"
    "sb main main main main main main main main main"
    "sb main main main main main main main main main"
    "sb main main main main main main main main main"
    "sb main main main main main main main main main"
    "sb main main main main main main main main main"
    "sb main main main main main main main main main"
    "sb main main main main main main main main main"
    "sb main main main main main main main main main"
    "sb main main main main main main main main main"
    "sb main main main main main main main main main"
    "sb main main main main main main main main main"
    "sb main main main main main main main main main"
    "sb main main main main main main main main main"
    "sb main main main main main main main main main"
    "ft ft ft ft ft ft ft ft ft ft";
}

.nav {
  grid-area: nav;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  background-color: lightcoral;
}

.sidebar {
  grid-area: sb;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  background-color: lightseagreen;
}

.main {
  grid-area: main;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  background-color: blue;
}

.footer {
  grid-area: ft;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  background-color: slategray;
}
