/* .App {
  text-align: center;
  height: 100vh;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
} */

.App {
  text-align: center;
  height: 100vh;
  background-color: #121212;
  color: #ffffff;

  display: grid;
  grid-template-columns: 225px 1fr;
  grid-template-rows: 75px 1fr 90px;
  grid-template-areas:
    "sb nav"
    "sb main"
    "ft ft";
}

.App * {
  border: 1px solid #ffffff;
}

.nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(22, 22, 22, 0.7);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav * {
  margin: 0 20px 0 20px;
}

.sidebar {
  grid-area: sb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* font-size: calc(10px + 2vmin); */
  background-color: #000000;
}

.sidebar * {
  margin: 25px;
}

.main {
  margin-top: -150px;
  grid-area: main;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  /* background-color: #161616; */
  background: linear-gradient(#1cd15d, #161616 10%, #141414 15%);
}

.footer {
  grid-area: ft;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  background-color: #181818;
}

.footer * {
  margin: 0 20px 0 20px;
}
